.prnt-navbar {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 350px;
    width: 320px;
    flex-direction: column;
    margin-left: 550px;
    margin-top: 200px;
}
.password-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.password-inputs input {
    margin: 15px 0 15px 0;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    width: 250px;
}
.hd-navbar {
    background: linear-gradient(90deg, rgb(51, 51, 224), blueviolet);
    width: 320px;
    height: 70px;
    text-align: center;
    margin-top: -16px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: white;
    margin-bottom: 30px;
}
.hd-navbar h2 {
    margin-top: 22px;
}
.change-password-btn button{
    background: linear-gradient(90deg, rgb(51, 51, 224), blueviolet);
    color: white;
    padding: 10px 60px 10px 60px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.change-password-btn button:hover {
    cursor: pointer;
    font-weight: bold;
}